{{> header}}

<h1>Welcome to {{siteName}}, {{customerName}}!</h1>

<p>Thank you for joining our community! We are thrilled to have you with us.</p>

<p>With your new account, you can:</p>
<ul>
  <li>Shop our premium collection of hair products</li>
  <li>Track your orders easily</li>
  <li>Manage your wishlist and preferences</li>
  <li>Receive exclusive offers and updates</li>
</ul>

<p>Click the button below to explore our shop and find your perfect look!</p>

<a href="{{siteUrl}}/categories/shop-all" class="button">Start Shopping</a>

<p>If you have any questions or need assistance, feel free to reply to this email.</p>

<p>Happy shopping!<br>The {{siteName}} Team</p>

{{> footer}}
